<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>New App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:#4DB6AC;">
<nav class="navbar navbar-light" style="background-color:#FF0033;">
    <a href="#" class="navbar-brand" style="background-color:#FFCC33;color:#000000;border-width:10px;border-color:#FFCC33;border-style:solid;border-spacing:30px;border-radius: 5px;">News App</a>
    <a href="{% url 'upload-news' %}" class="navbar-link btn-lg" style="background-color:#FFCC33;color:#000000;">Upload News</a>
</nav>
<br>
{% block content %}
<div class="card-columns">
    {% for new in news %}
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ new.picture.url }}">
  <div class="card-body">
    <h5 class="card-title">{{ new.title }}</h5>
    <p class="card-text">{{ new.describe }}</p>
   <div class="card-footer bg-transparent border-dark">
   <p class="card-title">{{new.author}}</p>
       <p>{{new.created_at}}</p>
   <center>
       <a href="update/{{new.id}}" class="btn btn-warning" id = "{{new.id}}">edit</a>
       <a href="delete/{{new.id}}" class="btn btn-danger" id = '{{new.id}}'>delete</a>
    </center>
    </div>
  </div>
</div>
    {% endfor %}
</div>
{% endblock %}
</body>
</html>
